.header{
    color: black;
    display: inline-flex;
    padding: 20pxS;
    align-items: center;
    
    justify-content: space-between;
}
.header_icon{
    display: flex;
    margin-right: 30px;
    align-content: center;
}